---
layout: default
title: Saorsa Studio Portfolio
projects:

 - title: Luma Candles
   paragraph_1: A five page website concept for an independent candle brand.
   paragraph_2: Embedded video with option to integrate Shopify buttons to allow direct orders.
   project_image: /images/luma-candles-mockup.png
   url: luma-candles
 - title: Baked by Sophia
   paragraph_1: A four page website concept for an independent home bakery.
   paragraph_2: Option to integrate Shopify buttons to allow direct orders.
   project_image: /images/sophia-ipad-crop.png
   url: baked-by-sophia     
 - title: Asana Studio
   paragraph_1: A single page website concept for a yoga studio.
   paragraph_2: 
   project_image: /images/yoga-mockup.jpg  
   url: asana-studio   
 - title: Gaia Glamping
   paragraph_1: A single page website concept for a glamping company.
   paragraph_2: Option to integrate preferred booking platform to allow direct bookings from customers.
   project_image: /images/Gaia-Mockup.jpg
   url: gaia-glamping
 - title: Hungry Vegan Co
   paragraph_1: A single page website concept for a vegan restaurant.
   paragraph_2: Option to integrate preferred booking platform to allow direct bookings from customers.
   project_image: /images/vegan-mockup.png  
   url: hungry-vegan-co    
---

{% include menu.html %}

<section class="grid-center bg-light" data-aos="fade-up" data-aos-duration="1500">
    <div class="col-12-middle p5 sm-hide">
        <h2 class="huge culture uppercase center">portfolio</h2>
    </div>
    </section>


    <!-- Projects -->
    <section class="bg-light p5" data-aos="fade-up" data-aos-duration="1500">
	    {% for item in page.projects %}
	    <div class="grid-center portfolio">
		    <div class="col-6-middle_sm-12 p5 right sm-center">
                <h2 class="big pb1 uppercase culture">{{item.title}}</h2>
                <p>{{item.paragraph_1}}</p>
                <p>{{item.paragraph_2}}</p>
                <a href='http://{{item.url}}.saorsa.studio'>View live project</a>
       	    </div>
       	<div class="col-5-middle_sm-12">
            <div class="p5">
                <img src="{{item.project_image}}">
            </div>
       	</div>
   	    </div>
   	{% endfor %}
</section>

