/* COLOURS

#efe7dd - background cream 
#183127 - dark green
#CF593A - intense orange
*/

	/* Temporary Styles */
	/* * {
	    border: 2px solid rgb(200,200,200);
	}
	html,
	body {
	    border: none;
	}
	h1,h2,h3,h4,h5,h6,p,a {
	    border: 2px solid rgb(179, 84, 84);
	} */
    /* End temporary styles */

    /* h1, h2, span {white-space: pre-line;} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

*   [class*="grid-"], [class*="grid_"], [class~="grid"] {
    margin:0;
}

* [class*=col-] {padding: 0;}

html {scroll-behavior: smooth;}

/* Typography styles */

@font-face {
    font-family: 'Sophillia';
    src: url('/fonts/sophillia-webfont.woff2') format('woff2'),
         url('/fonts/sophillia-webfont.woff') format('woff'),
         url('/fonts/SophilliaRegular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Culture';
    src: url('/fonts/culture-bold-webfont.woff2') format('woff2'),
         url('/fonts/culture-bold-webfont.woff') format('woff'),
         url('/fonts/culture-bold-webfont.ttf') format('truetype');
  }

body { 
    font-family: freight-display-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    background-color: #efe7dd;
    /* color: #183127; */
    color: #27332E;
}

p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

.normal {
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.bold {font-weight: 600;}

.featured {
    font-size: 10vh;
    color: #ED9273;
    font-style: italic;
    padding: 1rem;
}

.freedom {
    color: #183127;
    font-style: italic;
}

h2 {font-size: 1.5rem;}

h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin-bottom: 1.2rem;
}

p:last-child {margin-bottom:0;} 

.soph {
    font-family: 'Sophillia', 'Didot', serif;
    font-weight: normal;
 }

 .culture {
     font-family: 'Culture', 'Didot', serif;
     font-weight: normal;
 }

 .ivy-italic {
    font-family: ivypresto-display, serif;
    font-weight: 400;
    font-style: italic;
 }

 .freight-italic {
    font-family: freight-display-pro, serif;
    font-weight: 500;
    font-style: italic;
 }

 .courier {
    font-family: 'Courier New', Courier, monospace;
 }

 header .logo, footer .logo {
     font-family: 'Culture', 'Didot', serif;
     font-size: 2rem;
     font-weight: normal;
 }

 .mob-logo {
     font-size: 3.5rem;
     padding: 0 10% 0 10%;
 }

 .dot {
    position: relative;
    left: 4px;
    letter-spacing: 5px;
}

.logo-subtitle {
    line-height: 1;
    margin-top: -1.2rem;
    padding-left: 10%;
}

 .footer-copyright {
     font-size: 0.7rem;
     letter-spacing: 1.5px;
     font-family: 'Courier New', Courier, monospace;
 }

.reg {font-size: 1.5rem;}
.med {font-size: 1.7rem;}
.big {font-size: 3rem;}
.huge {font-size: 5rem;}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.lowercase {text-transform: lowercase;}

.portfolio {text-align: right;}
.portfolio:nth-child(even) {flex-direction: row-reverse;}
.portfolio:nth-child(even) div {text-align: left;}

.border {border-bottom: 1px solid;}
.border-r {border-right: 1px solid;}
.border-t {border-top: 1px solid;}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* h2, h3, h4, h5, h6 {
    font-family: 'Sophillia', 'Didot', serif;
    margin-bottom: 1rem;
    line-height: 1.1;
    font-weight: normal;
} */

h4 {min-height: 3rem;}


.left   { text-align: left; }
.right  { text-align: right; }
.center {text-align: center;}

.capped-width {max-width: 1200px;}
.capped-small {max-width: 600px;}

.light {color: #FCFCFC;}
.green {color: #183127;}

/* Slider Gallery Styles */

.slider-container {
    padding: 2%;
  }
  
  .slider-item {
    display: none;
    padding: 2rem;
  }
  
  /* slider-item is display: none so that the images don't stack on top of each other when the page is initially loading.  slider-item first child is applied so that only the first item is shown in the container */
  
  .slider-item:first-child {
        display: block;
  }
  
  .slick-next::before, .slick-prev::before {
        font-family: slick;
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: #fff;
  }
  
  /* Arrow colours */
  .slick-next::before, .slick-prev::before {
        color: #183127;
  }
  /* Adjusting where the arrows sit, inside or outside container */
  .slick-prev {left: 2%;}
  .slick-next {right: 2%;}
  
  /* Styling dots below images */
  .slick-dots {
         bottom: 3%;
         left: 0; /* This align the dots perfectly to the center, do not delete */
  }
  
  /* Adjusts how far apart the dots are */
  .slick-dots li,
  .slick-dots li button {width: 20px;}
  
  /* Adjusts the colours & size of the dots */
  .slick-dots li button::before {
         font-size: 8px;
         color: #183127;
  }
  
  /* Changes the colour of the active dot */
  .slick-dots li.slick-active button::before {
         color: #d3664a;
  }

/* Images & background images */

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.img {
    background-color: lightgray;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}

.bg-light {background-color: #efe7dd;}
.bg-green {background-color: #183127;}

.placeholder {
    background-image: url('/images/placeholder.png');
    min-height: 20vh;
}

.banner-home {
    background-image: url('/images/saorsa-studio-web-home.jpg');
    display: block;
    min-height: 88vh;
}

.flowers {
    background-image: url('/images/saorsa-studio-web-design-london.jpg');
    height: 45vh;
}

.saorsa-coffee {
    background-image: url('/images/saorsa-coffee.jpg');
    min-height: 85vh;
}

.saorsa-chair {
    background-image: url('/images/saorsa-chair.jpg');
    min-height: 50vh;
}

.about-01 {
    background-image: url('/images/bradley-dunn-y07cKNLW_9Q-unsplash.jpg');
    min-height: 45vh;
}

.about-02 {
    background-image: url('/images/about-02.jpg');
    min-height: 100vh;
}

.about-03 {
    background-image: url('/images/saorsa-studio-hero.jpg');
    min-height: 50vh;
}

.about-04 {
    background-image: url('/images/mathilde-langevin-LdPzzJcrPLM-unsplash.jpg');
    min-height: 90vh;
}

.headshot {
    background-image: url('/images/carly-saorsa-2.jpg');
    min-height: 105vh;
    width: auto;
}

.headshot-2 {
    object-fit: cover;
    object-position: center;
    position: absolute;
    margin-top: -11rem;
    margin-left: -8rem;
    height: 20vh;
    width: auto;
    z-index: -1;
}

.mockup-1 {background-image: url('images/home-mockup.jpg');}
.mockup-2 {background-image: url('images/sophia-ipad-crop.png');}
.mockup-3 {background-image: url('images/gaia.png');}
.mockup-4 {background-image: url('images/yoga-mockup.jpg');}

.contact-banner {
    background-image: url('/images/andrew-neel-M1duyRiAMm4-unsplash.jpg');
    background-position: 10% 40%;
    background-size: cover;
    min-height: 50vh;
}

.services-banner {
    background-image: url('/images/saorsa-chair.jpg');
    background-position: 10% 80%;
    background-size: cover;
    min-height: 50vh;
}

.landscape {padding-bottom: 65%;}
.portrait {padding-bottom: 125%;}
.square   {padding-bottom: 100%;}

.tall-50 {min-height: 50vh;}
.tall-60 {min-height: 60vh;}
.tall-70   {min-height: 70vh;}
.tall-100 {min-height: 100vh;}

/* Nav & links */

a {
    color: inherit;
    padding-bottom: 2px;
    text-decoration: none;
}

/* a:hover {color: #CF593A} */

.inline {
    display: inline-block;
    margin: 0.2rem;
  }

  .main-menu {
      border-bottom: 1px solid;
      min-height: 12vh;
  }

  header a {
    display: inline-block;
    text-decoration: none;
    font-size: 0.7rem;
    color: inherit;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  header nav a:hover {
    font-style: italic;
  }

.menu-button {
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    position: fixed;
    z-index: 5;
    top: 2vh;
    right: 2vh;
}

.menu-button:hover {color:#d3664a;}

.cross {
    cursor: pointer;
    font-size: 3rem;
    color:#183127;
    position: fixed;
    z-index: 5;
    top: 2vh;
    right: 3vh;
}

.cross:hover {color:#CF593A}

.menu-container span {
    display: block;
    line-height: 1;
}

.menu {
    display: none;
    background: #efe7dd;
    color: #183127;
    position: fixed;
    z-index: 4;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.menu a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 4%;
    text-align: center;
    border: none;
}

i .fab {border: none;}

.fab {font-size: 1.5rem;}

footer nav {font-size: 0.8rem;}

/* Accordion styling */

/* Sets the width for the accordion. Sets the margin to 90px on the top and bottom and auto to the left and right */

.accordion {
    margin: 1rem;
    padding: 1rem;
  }

  .accordion .container {
    position: relative;
    margin: 0.5rem;
  }
  
  /* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */
  
  .accordion .accordion-label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding: 10px 0;
    cursor: pointer;
    transition: 1s;
  }

  
/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .accordion-label::before {
    content: '+';
    color: black;
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
  /* Hides the content (height: 0), decreases font size, justifies text and adds transition */
  
  .accordion .content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 1s;
  }
  
  /* Adds a horizontal line between the contents */
  
  .accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
  }

  /* Unhides the content part when active. Sets the height */

.accordion .container.active .content {
    height: auto;
  }
  
  /* Changes from plus sign to negative sign once active */
  
  .accordion .container.active .accordion-label::before {
    content: '-';
    font-size: 30px;
  }
  

/* Contact form */

input, 
textarea {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent;
}

input:focus, 
textarea:focus {
    border: 2px solid #183127; 
    outline:none;
}

.arrow {
    font-size: 1.5rem;
    display: inline;
    padding-left: 1rem;}

.button {
    display: inline-block;
    font-family: courier-std, monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #183127;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.button:hover {
    border: 1px solid #CF593A;
    transition: 0.5s;
}

.label {
    display:inline-block;
    margin-bottom: 8px;
}

 /* ---------- Padding Utility Classes ---------- */ 

 .p1  {padding: 1rem;}
 .p2  {padding: 2rem;}
 .p5   {padding: 5%;}
 .p10 {padding: 10%;}
 
 
 .pt0 {padding-top: 0;}
 .pt1 {padding-top: 1rem;}
 .pt5  {padding-top: 5%;}
 .pt10 {padding-top: 10%;}

 .pb0 {padding-bottom: 0;}
 .pb1 {padding-bottom: 1rem;}
 .pb  {padding-bottom: 5%;}

 .pl0 {padding-left: 0;}
 .pl1 {padding-left: 1rem;}
 .pl5 {padding-left: 5%;}
 .pl10 {padding-left: 10%;}

 .pr0 {padding-right: 0;}
 .pr  {padding-right: 5%;}
 .pr1 {padding-right: 1rem;}

 
 /* ---------- Margin Utility Classes ---------- */ 
 
 .m5 {margin: 5%;}

 .mt {margin-top: 5%;}
 .mb {margin-bottom: 5%;}
 .ml {margin-left: 5%;}
 .mr {margin-right: 5%;}

 .mb10 {margin-bottom: 10%;}
 .mb20 {margin-bottom: 20%;}
 
 .mt2 {margin-top: 2rem;}
 .mb2 {margin-bottom: 2rem;}
 
 .mt0 {margin-top: 0;}
 .mb0 {margin-bottom: 0;}

 /* Instagram widget */

 .lightwidget-widget {
    width:100%;
    border:0;
    overflow:hidden;
 }

/* ---------- Responsive ---------- */

 /* General CSS  Responsive Styles (Apply everywhere unless overriden) */ 

.xs-show, 
.sm-show,
.md-show,
.sm-flex,
.cross,
.sm-sub
 {display: none;}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {

  html {font-size: 14px;}
  
  .md-hide {display: none;}

  footer .big {font-size: 2.5rem;}

  .md-center {text-align: center;}

  .md-order-2 {order: 2;}

  .md-mt5 {margin-top: 5%;}

  .md-60 {min-height: 60vh;}
  .md-right {text-align: right;}

}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {
    html {font-size: 14px;}

    .sm-show,
    .sm-sub
     {display: block;}

    .sm-flex {display:flex;}
    .sm-hide { display: none;}

    .portfolio:nth-child(even) div {text-align: center;}
    .portfolio {padding-bottom: 20%;}

    header a {
        padding: 0.4rem;
        margin: 0.5rem;
      }

    .sm-60 {min-height: 60vh;}

    .sm-mb10 {margin-bottom: 20%;}

    .banner-home {min-height: 60vh;}
    .saorsa-chair {min-height: 30vh;}

    .dot {left: 4px;}

    p {font-size: 1rem;}
    .reg {font-size: 1.2rem;}
    .med {font-size: 1.5rem;}
    .big {font-size: 2.5rem;}
    .huge {font-size: 5rem;}
    .logo {font-size: 3.5rem;}

    .flex-b {
        display: flex;
        align-self: flex-end;
    }

    .headshot {
        min-height: 50vh;
        background-position: 10% 40%;
    }

    .sm-reset {
        padding: 0;
        margin: 0;
    }

    .sm-center {text-align: center;}
    .sm-left {text-align: left;}

    .sm-p0 {padding: 0;}
    .sm-pt10 {padding-top: 10%;}
    .sm-pt30 {padding-top: 30%;}
    .sm-pt40 {padding-top: 40%;}

    .sm-mb5 {margin-bottom: 5%;}

    .order-1 {order: 1;}
    .order-2 {order: 2;}
    .order-3 {order: 3;}
    .order-4 {order: 4;}
    .order-5 {order: 5;}

    .slick-prev {left: -10px;}
    .slick-next {right: -10px;}

}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {
    html {font-size: 12px;}
  .xs-show { display: block; }
  .xs-hide { display: none;  }

  .scroll a {position: static;}

  .about-02 {min-height: 50vh;}
  .banner-home {min-height: 60vh;}
  .saorsa-coffee {min-height: 40vh;}

  .xs-p5 {padding: 10%;}
  .xs-pt30 {padding-top: 30%;}

  .mob-border {border-bottom: 1px solid;}

  .logo {font-size: 2.8rem;}
  .logo-subtitle {
      font-size: 1.5rem;
      margin-top: -0.5rem;
}

.xs-order-2 {order: 2;}

.xs-center {text-align: center;}

}

/* ------- XXS Media Query (31em / 500px) --------------- */ 
/* - Styles added here will apply at devices smaller than 400px, or zoomed in equivalent */ 

@media (max-width: 31em) {

    [class~=grid] .xxs-stack {
        flex-basis: 100%;
        max-width: 100%;
    }
}