    <!-- Footer top -->
    <footer class="bg-green light p0">
        <section>
          <div id="typed-strings">
              <div>
              <h4 class="med center pt1"><em>follow us on instagram</em></h4>
              </div>
          </div>
          <span id="typed"></span>
          </section>
          
          <!-- Lightwidget for Instagram -->
          <section>
            <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/f6799f4ab7c3513eaab24f39eab4128f.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
          </section>
          
          <!-- Footer bottom -->
          <section class="grid-center p2">
            <div class="col-3-middle_md-12 md-center md-mb5">
              <h1 class="culture">SAORSA<span class="ivy-italic"><span class="dot">.</span>studio</span></h1>
            </div>
            <div class="col-5-middle_md-12 center md-order-2">
              <a href="https://www.instagram.com/saorsa.studio/" target="_blank" style="border: none;" class="md-hide"><i class="fab fa-instagram sm-mb5"></i></a>
              <p class="footer-copyright md-mt5 sm-hide">COPYRIGHT SAORSA STUDIO 2022</p>
              <p class="sm-sub footer-copyright">COPYRIGHT 2022</p>
            </div>
            <div class="col-3-middle_md-12 right md-center sm-hide">
              <nav>
                <a href="/">Home</a> /
                <a href="/about">About</a> /
                <a href="/portfolio">Portfolio</a> /
                <a href="/contact">Contact</a>
              </nav>
          </div>
        </div>
        </section>
        </footer>