<!-- Banner menu (main) -->

<header class="grid-center main-menu xs-hide">
    <div class="col-4-middle">
      <a href="#">
        <h1 class="logo">SAORSA<span class="ivy-italic"><span class="dot">.</span>studio</span></h1>
       </a>
     </div>
    <nav class="col-7-middle culture uppercase right">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>

  
  <!-- Mobile menu -->

  <header>
    <div class="menu-container menu-button light soph xs-show">
        <span class="mb0">ME</span>
        <span>NU</span>
    </div>

    <div class="cross menu-container light">&#10005;</div>

      <div class="menu light sm-pt30">
        <a href="/" class="culture uppercase">Home</a>
        <a href="/about" class="culture uppercase">About</a>
        <a href="/portfolio" class="culture uppercase">Portfolio</a>
        <a href="/contact" class="culture uppercase">Contact</a>
      </div>
    </nav>
</header>