<header>
    <div class="menu-container menu-responsive light soph">
        <span class="mb0">ME</span>
        <span>NU</span>
    </div>

    <div class="cross menu-container light">&#10005;</div>

      <div class="menu light sm-pt30">
        <a href="/" class="culture uppercase">home</a>
        <a href="/about" class="culture uppercase">about</a>
        <a href="/portfolio" class="culture uppercase">portfolio</a>
        <a href="/contact" class="culture uppercase">contact</a>
      </div>
    </nav>
</header>