<!-- Banner menu (main) -->

<header class="grid-center main-menu xs-hide">
    <div class="col-4-middle">
      <a href="/">
        <h1 class="culture">SAORSA<span class="ivy-italic"><span class="dot">.</span>studio</span></h1>
       </a>
     </div>
    <nav class="col-7-middle right">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>

  
  <!-- Mobile menu (button and pop out)-->

  <header>
    <div class="menu-container menu-button light soph xs-show">
        <span class="mb0">ME</span>
        <span>NU</span>
    </div>

    <div class="cross menu-container light">&#10005;</div>
      <nav class="menu light sm-pt30">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
      </div>
    </nav>
</header>